# Copia este archivo a .env y completa las variables si cambian.
SUPABASE_DB_URL=jdbc:postgresql://aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_DB_USERNAME=postgres.jndjfhgnulmtxdmxmjzm
SUPABASE_DB_PASSWORD=TU_PASSWORD_SUPABASE
